body {
    line-height: 1;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    padding: 10px;
    display: inline;
    margin: 0 15px;
    border: 1px solid #fff;
    border-radius: 16px;
}
nav ul li:hover {
    background-color: orangered;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
}
table {
    width: 100px;
    border-collapse: collapse;
}
table, th, td {
    border-bottom: 1px solid #ddd;
}
th {
    background-color:orangered;
    padding: 12px;
    text-align: left;
}  
 td {
    padding: 8px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 10px 10px;
}
footer a {
    padding: 6px;
    color: #fff;
    text-decoration: none;
    margin: 10px 10px;
    border: #fff 1px solid;
    border-radius: 16px;
}
footer a:hover {
    background-color: orangered;
}